.login-wrapper {
	/*border: 1px solid #CDCDCD;*/
	padding: 30px;
	border-radius: 10px;
	background: #FFF;
}

h3 {
    padding: 0;
    margin: -5px 0 20px 110px;
    font-weight: bold;
    color: #789ad3;

}