.content{
	overflow: hidden;
  clear:both;
}
.content-header{
	/*overflow: hidden;*/
    margin: 0px 30px;
}

.btn-ssm{
	padding: 2px 15px;
}

.dash-prof-materia-table{
	width: 100%;
	list-style: none;
}
.dash-prof-materia-table li{
	border:1px solid #666666;
	border-radius: 5px;
	padding: 15px;
	margin: 5px;
	cursor: pointer;
}

.dash-prof-materia-table li.materia-titular{
	background-color: #b5fefe;
}

.dash-prof-materia-table li.materia-suplente{
	background-color: #fefeb5;
}

.dash-prof-materia-table li div{
	font-weight: 600;
    font-size: 16px;
}


.foro-teaser{
	list-style: none;
	padding: 0px;
}

.foro-teaser li{
	padding: 2px;
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 10px;
}
.foro-teaser .fr-subject{
	font-weight: 800;
}
.foro-teaser .fr-info{
	margin-top: 5px;
	color: #aaa;
}
.foro-teaser .fr-no-message{
	font-weight: 800;
	color: #aaa;
	text-align: center;
}

.foro .fr-metadata {
    min-height: 160px;
}

.foro .fr-comment {
    margin: 0 0 10px;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 0 10px 0;
}
.foro .comment-body, .foro .topic-body {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 150px;
}
.foro .panel-body{
	background-color: #f0f0f0;
}

.fr-comment .fr-subcomment{
  background-color: #d6d6d6;
  padding: 20px 0 0 0;
  border-radius: 10px;
  margin: 1%;
}

.toggle-subcomments{
  text-align: center;
  background-color: #e0e0e0;
  padding: 5px;
  margin: 5px 3%;
  cursor: pointer;
}

#ventana-modal .modal-title{
	float: left;
}


.sidebar-menu a{
	border: 1px solid !important;
    margin: 5px;
    border-radius: 5px;
    background-color: #505050;
}

.label-evaluacion{
	clear: both;
    float: left;
    width: 100%;
}

.date-evaluacion{
	display: block;
    float: left;
    width: 50%;
}

.time-evaluacion{
	display: block;
    float: left;
    margin-left: 3px;
	width: 20%;
}

.profesor-sidebar a span{
	color: white;
	font-weight: 800;
}

.content-wrapper {
    background-color: #e0e0e0;
    background-image: url(../img/water_mark.png);
    background-repeat: no-repeat;
    background-position: center;
}

.panel-info {
    border-color: #4F759B;
}
.panel-info>.panel-heading {
    color: #fff;
    font-weight: 600;
    background-color: #4F759B;
    border-color: #4F759B;
}

.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #4F759B;
}

.btn-primary {
    background-color: #6290bf;
    border-color: #4e7499;
}

.modal-content{
	border-radius: 13px;
}


.modal-header{
	border-radius: 10px 10px 0 0;
	background-color: #4F759B;
	color: #fff;
}

.modal-header .modal-title h4{
	font-weight: 600
}

.modal-header .close{
	opacity: 1;
}

.modal-header .close span{
	color:#fff;
}
.box.box-primary {
    border-top-color: #cd3333;
}


.notif-item{
	background-color: #ddd;
}

.notif-new{
	background-color: #fff;
}
.notif-item a{
    width: 500px;
    min-height: 50px;
    border-bottom: 1px solid #aaa;
}

.notif-item:last-child a{
	border-bottom: none;
}

.notif-item .since-time{
	float: right;
    font-size: 11px;
    padding-right: 5px;
    color: #aaa;

}

.notif-list{
	border: 1px solid #aaa !important;
}

.messag-section .notif-item{
  background-color: #fff;
}
.messag-section .notif-item a{
        width: 400px;
    min-height: 30px;
    padding: 9px 20px;
}

.new-message-dot{
    font-size: 20px;
    color: red;
    display: block;
    float: left;
    line-height: 16px;
    margin-left: -12px;
  }

.materia-list .materia-list-row{
  margin:5px 0;
}

.boton-dropdown .dropdown-menu{
    padding-left: 10px;
    margin-top: 0;
    border: 1px solid #4F759B;
}

.boton-dropdown .dropdown-menu .dropdown-item{
    line-height: 30px;
    display: block;
}

.progress{
  margin-top: 5px;
  background-color: #aaa;
}

.other-message {
    background-color: #dfdfdf;
    min-width: 50%;
    max-width: 90%;
    display: block;
    float: left;
    clear: both;
    border-radius: 0 9px 9px 9px;
    padding: 5px 10px;
    margin: 5px 0px 5px 15px;
    position: relative;
}

.other-message:before {
    width: 0;
    height: 0;
    content: "";
    top: 0px;
    left: -15px;
    position: absolute;
    border-style: solid;
    border-width: 0px 17px 15px 0px;
    border-color: transparent #dfdfdf transparent transparent;
}

.own-message {
    background-color: #cfefef;
    min-width: 50%;
    max-width: 90%;
    display: block;
    float: right;
    position: relative;
    clear: both;
    border-radius: 9px 0 9px 9px;
    padding: 5px 10px;
    margin: 5px 10px 0;
}
.own-message:before {
    width: 0;
    height: 0;
    content: "";
    top: 0px;
    right: -15px;
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 15px 17px;
    border-color: transparent transparent transparent #cfefef;
}
.chat-wrapper{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 530px;
  min-height: 290px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-bottom: 10px;
}

.chat-wrapper .message-body, .chat-wrapper .message-body a{
  font-size: 13px;
}
.chat-wrapper .message-foot{
  font-size: 12px;
  text-align: right;
  color: #707070;
}

.message-empty{
  color:#707070;
  margin: 20px auto;
  padding: 20px 0;
  width: 70%;
  text-align: center;
  border: 1px solid #707070;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.class-entregado{
  background-color: #c6ffc0;
  
}
.class-pendiente-entrega{
  background-color: #ffd3d7;
}

.class-a-entregar{
  background-color: #f5ffc0;
}
.quote-message{
  font-size: 11px;
  background-color: #e0e0e0;
  padding: 10px;
}

.calendar-wrapper{
  width:50%;
  margin: 0px auto;
}

.cal-month-day {
    height: 60px !important;
}

.cal-year-box [class*="span"], .cal-month-box [class*="cal-cell"] {
    min-height: 60px !important;
}


@media (max-width: 767px) {
  .notif-item a, .messag-section .notif-item a {
    width: 325px;
  }
  .content-header{
    margin: 0px 0px;
  }
  .foro .fr-metadata {
    min-height: 110px;
  }
  .foro .fr-comment .fr-metadata {
    min-height: 70px;
  }
  .foro .comment-body, .foro .topic-body  {
    min-height: 110px;
  }
  .materia-list .materia-list-row {
      margin: 6px 0;
      border-bottom: 1px solid;
      padding-bottom: 0px;
  }
  .materia-list .materia-list-row{
    margin:5px 0;
  }
  .materia-list-row div{
    margin-bottom:5px;
  }
  table{
  	font-size: 8px;
  }
  .chat-wrapper{
  overflow-y: scroll;
  height: 300px;
  }
  .calendar-wrapper{
    width:100%;
  }
}