.schedule-table{
	width: 100%;
	font-size: 10px;
	font-family: sans-serif;
}

.schedule-table td, .schedule-table th{
	border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

.schedule-table th{
	text-align: center;
	padding: 3px 0 3px 0;
	background-color: #ecf0f5;
	width:18%;
}

.schedule-table td.time-label, .schedule-table th.time-label{
	width:50px;
	padding: 3px 0 3px 0;
	text-align: center;
	background-color: #ecf0f5;
}
.schedule-table td.time-slot{
	text-align: center;
	font-weight: bold;
}

.schedule-table td.sch_conflict{
	background-color: red;
}
.schedule-table td.data-selected{
	background-color: #75be85;
    color: #fff;
    font-size: 11px;
    border-radius: 10px;
    font-family: sans-serif;
    position:relative;
    cursor: pointer;
}

.schedule-table td.data-selected div {
    padding: 5px 5px 0 5px;
    position: relative;
    
}
.schedule-table td.data-selected div:first-child {
	position: static;
	}
.schedule-table td.data-selected div:last-child {
    padding-bottom: 5px;
    
}


.schedule-table tr.time-recreo td{
	background-color: #ecf0f5;
}


.schedule-table td.data-selected i.glyphicon-bookmark {
    position: absolute;
    margin-top: -1px;
    right:7px;
}

@media (max-width: 767px) {
  .schedule-table td, .schedule-table th {
    font-size: 8px;
  }
  .schedule-table td.data-selected{
  	font-size: 8px;
  }
}